# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/media

inst/migrations/0046_auto_20180410_1932.py
inst/migrations/0047_auto_20180410_1953.py
inst/migrations/0048_auto_20180416_0655.py
inst/migrations/0049_delete_article.py
inst/migrations/0050_auto_20180418_2001.py
inst/migrations/0051_auto_20180418_2031.py
inst/migrations/0052_userfollowers_followed_at.py
inst/migrations/0053_auto_20180419_0755.py
inst/migrations/0054_auto_20180419_0801.py
inst/migrations/0055_auto_20180419_0808.py
inst/migrations/0056_auto_20180419_1020.py

/inst/static/img/
