{% extends "inst/base.html" %}
{% load bootstrap3 %}

{% block header %}
    <h2>Log in to your account.</h2>
{% endblock header %}

{% block content %}
<section>
	<div class="container">
		<div class="absolute-center">
			<div class="backname" align="center">Fakestagram</div>
			<div class="frontname" align="center">Fakestagram</div>
			<form action="{% url "users:login" %}" method="post">
                {% csrf_token %}
			    <div class="form-group">
                    {{ form.as_p }}
                </div>
			    <button type="submit" class="button"><span>Login</span></button>
  			</form>

		</div>
		</div>
</section>
{% endblock %}