{% extends 'inst/base.html' %}
{% block meta %}
    <link rel="stylesheet" type="text/css" href="/static/login.css">
{% endblock meta %}
{% block content %}
    <section>
        <div class="container">
            <div class="absolute-center">
                <div class="backname" align="center">Fakestagram</div>
                <div class="frontname" align="center">Fakestagram</div>
                <form action="{% url "users:change_password" %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="button"><span>Save Changes</span></button>
                </form>

            </div>
        </div>
    </section>
{% endblock content %}