{% extends "inst/base.html" %}

{% block content %}
<section>
	<div class="container">
		<div class="absolute-center">
			<div class="backname" align="center">Fakestagram</div>
			<div class="frontname" align="center">Fakestagram</div>
			<form action="{% url "users:register" %}" method="post">
                {% csrf_token %}
			    <div class="form-group">
                    {{ form.as_p }}
                </div>
			    <button type="submit" class="button"><span>SignUp</span></button>
  			</form>

		</div>
		</div>
</section>
{% endblock content %}