<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title></title>
    {% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/login.css">
</head>
<body>
<header>
    <nav class="nav navbar">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url "inst:index" %}"><img src="/static/img/logo.png" alt="Fakestagram"></a>
            </div>

            <div class="navbar-collaps collaps">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href=""><img src="/static/img/compas-icon.png"></a></li>
                        <li><a href="#"><img src="/static/img/like-icon.png"></a></li>
                        <li><a href="{% url "inst:profile" %}"><img src="/static/img/profile-icon.png"></a></li>
                        <li><a href="{% url "inst:upload" %}"><img src="/static/img/upload-icon.png"></a></li>
                    {% else %}
                        <li><a href="{% url 'users:register' %}"><span class="glyphicon glyphicon-register"></span>SignUp</a>
                        </li>
                        <li><a href="{% url 'users:login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>

        </div>
    </nav>
</header>
{% block content %}{% endblock %}
</body>
</html>