{% extends 'inst/base.html' %}
{% block meta %}
    <link rel="stylesheet" type="text/css" href="/static/feed.css">
{% endblock meta %}


{% block content %}
{% for photo in images %}
    <section>
        <div class="container" align="center">
            {% for usersettings in setting %}
            <header class="header1 header">
                <img class="img-circle feed" src="/media/photos/avatar/{{ usersettings.avatar.name }}">
                <a class="username" href="{{ user.username }}">{{ user.username }}</a>
            </header>
            {% endfor%}
            <span class="photo-span-feed">
	        	<img class="photo-feed" src="/media/photos/crop_x2/{{ photo.photo.name }}">
	      </span>

            <div class="bottom-section">
                <div class="like">
                    <img class="like-button" src="/static/img/heart.png">
                    <img class="like-button" src="/static/img/heart.png">
                </div>
                <ul class="comments">
                    <li id="photo-bottom">
                        <a class="username" href="{{ user.username }} ">{{ user.username }}</a>
                        <p class="comment" >{{ photo.caption }}</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    {% endfor %}
{% endblock %}