{% extends 'inst/base.html' %}
{% block title %}
    <title>Photos</title>
{% endblock %}
{% block content %}
    <div class="infinite-container" align="center">
        {% for photo in photos %}
            <div class="infinite-item">
                <span class="photo-span"><img class="photo" src="/media/photos/crop_x1/{{ photo.photo.name }}"></span>
            </div>
        {% endfor %}
    </div>

    <div class="loading" style="display: none">
        Loading...
    </div>

    {% if page_obj.has_next %}
        <a class="infinite-more-link" href="?page={{ photos.next_page_number }}">More</a>
    {% endif %}

    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            onBeforePageLoad: function () {
                $('.loading').show();
            },
            onAfterPageLoad: function ($items) {
                $('.loading').hide();
            }
        });
    </script>
{% endblock %}